
build-Organiser-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-Organiser-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/debug/Organiser.exe
build-Organiser-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/debug/Organiser.exe
build-Organiser-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/ui_mainwindow.h
build-Organiser-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/debug/Organiser.exe
build-Organiser-Desktop_Qt_6_6_2_MinGW_64_bit-Debug/debug/mainwindow.o
